Repository matter-labs/zksync, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gluk64, @dvush, @BaldyAsh

finished util
  Cargo.lock
  core/data_restore/Cargo.toml
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/main.rs
  core/data_restore/src/rollup_ops.rs
  core/data_restore/src/storage_interactor.rs
  core/data_restore/src/tree_state.rs
  core/server/Cargo.toml
  core/server/src/main.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

server sync: addresses
  core/circuit/src/witness/deposit.rs
  core/circuit/src/witness/transfer_to_new.rs
  core/models/src/node/account.rs
  core/storage/src/lib.rs
  etc/env/dev.env.example
  js/client/package.json
  js/client/src/BlockExplorerClient.js
  js/client/yarn.lock
Owners: @dvush

sync addresses
  src/signer.ts
  src/wallet.ts
Owners: none

sync-tx: tx hashes
  core/models/src/node/tx.rs
  core/server/src/api_server/event_notify.rs
  core/server/src/api_server/rest.rs
Owners: @dvush

Update README.md
  README.md
Owners: @gluk64

Future based actors compileble version(does not work)
  core/models/src/lib.rs
  core/models/src/node/tx.rs
  core/server/src/api_server/event_notify.rs
  core/server/src/api_server/mod.rs
  core/server/src/api_server/rest.rs
  core/server/src/api_server/rpc_server.rs
  core/server/src/api_server/rpc_subscriptions.rs
  core/server/src/block_proposer.rs
  core/server/src/committer.rs
  core/server/src/eth_sender.rs
  core/server/src/eth_watch.rs
  core/server/src/lib.rs
  core/server/src/main.rs
  core/server/src/mempool.rs
  core/server/src/state_keeper.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

new addresses
  core/server/src/api_server/rest.rs
  core/storage/src/lib.rs
  js/client/src/BlockExplorerClient.js
  js/client/src/WalletDecorator.js
  js/explorer/package.json
  js/explorer/src/Account.vue
  js/explorer/src/Block.vue
  js/explorer/src/Client.js
  js/explorer/src/Home.vue
  js/explorer/src/SearchField.vue
  js/explorer/src/Transaction.vue
  js/explorer/src/client.js
  js/explorer/src/constants.js
  js/explorer/src/main.js
  js/explorer/yarn.lock
Owners: @dvush

Onchain ops fix
  contracts/contracts/Franklin.sol
  js/franklin_lib/abi/Governance.json
Owners: @dvush, @BaldyAsh

returned to old style
  contracts/scripts/testnet-deploy.ts
Owners: @dvush, @BaldyAsh

fixed
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

Deployed mempool fix
  core/storage/src/lib.rs
Owners: none

provider and ethproxy optional
  src/BlockExplorerClient.ts
  src/index.ts
  src/provider.ts
  src/wallet.ts
Owners: none

a lot fixed
  Makefile
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/main.rs
  core/data_restore/src/rollup_ops.rs
  core/data_restore/src/storage_interactor.rs
  core/data_restore/src/tree_state.rs
  core/models/src/params.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

v0.1
  core/data_restore/src/main.rs
  etc/env/dev.env.example
Owners: none

redocumented rollup contract
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

governance redocumented
  contracts/contracts/Governance.sol
Owners: @dvush, @BaldyAsh

docs completed
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/PriorityQueue.sol
  contracts/contracts/Verifier.sol
Owners: @dvush, @BaldyAsh

fixes
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/PriorityQueue.sol
Owners: @dvush, @BaldyAsh

small doc fix
  contracts/contracts/PriorityQueue.sol
Owners: @dvush, @BaldyAsh

ready
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/PriorityQueue.sol
  contracts/scripts/testnet-deploy.ts
  contracts/src.ts/deploy.ts
Owners: @dvush, @BaldyAsh

reuse valid token id
  contracts/contracts/Governance.sol
Owners: @dvush, @BaldyAsh

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify gluk64 about changes in codeowners file
/.github/       @gluk64

# notify gluk64 about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify dvush about any circuit, prover and server changes
/core/circuit/  @dvush
/core/server/   @dvush
/core/prover/   @dvush

# notify BaldyAsh and dvush about contracts changes
/contracts/     @dvush @BaldyAsh
