Repository matter-labs/zksync, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gluk64, @dvush, @BaldyAsh

fix
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

fixed
  contracts/contracts/VerificationKey.sol
  core/circuit/src/circuit.rs
  core/circuit/src/witness/close_account.rs
  core/circuit/src/witness/deposit.rs
  core/circuit/src/witness/full_exit.rs
  core/circuit/src/witness/noop.rs
  core/circuit/src/witness/transfer.rs
  core/circuit/src/witness/transfer_to_new.rs
  core/circuit/src/witness/withdraw.rs
Owners: @dvush, @BaldyAsh

deploy script with arguments
  Makefile
  bin/deploy-contracts.sh
  contracts/package.json
  contracts/scripts/solidityFlattener.pl
  contracts/scripts/testnet-deploy.ts
  contracts/src.ts/deploy.ts
  contracts/yarn.lock
  docker/flattener/Dockerfile
  etc/env/dev.env.example
Owners: @dvush, @BaldyAsh

rename variable
  core/circuit/src/witness/full_exit.rs
  core/models/src/node/operations.rs
  core/plasma/src/state.rs
  core/prover/src/lib.rs
Owners: @dvush

Fix full exit. (#149)
  contracts/contracts/VerificationKey.sol
  core/circuit/src/circuit.rs
  core/circuit/src/witness/full_exit.rs
  core/models/src/node/mod.rs
  core/models/src/node/operations.rs
  core/models/src/node/tx.rs
  core/plasma/src/state.rs
  core/prover/src/lib.rs
Owners: @dvush, @BaldyAsh

actualize with doc
  examples/move-funds.ts
  package.json
  src/index.ts
  src/provider.ts
  src/signer.ts
  src/types.ts
  src/wallet.ts
Owners: none

fix env
  etc/env/dev.env.example
Owners: none

flatten is a part of deploy
  contracts/package.json
  contracts/scripts/solidityFlattener.pl
  contracts/scripts/testnet-deploy.ts
  contracts/src.ts/deploy.ts
Owners: @dvush, @BaldyAsh

Vitalik's fixes
  core/models/src/node/priority_ops.rs
  core/server/src/api_server.rs
  core/storage/src/lib.rs
  js/client/src/utils.js
  js/client/yarn.lock
  js/explorer/src/WalletDecorator.js
  js/explorer/src/client.js
  js/explorer/src/utils.js
Owners: @dvush

Fix franklin explorer command
  Makefile
  js/explorer/yarn.lock
Owners: none

More convenient franklin client command
  Makefile
Owners: none

remove ethers/utils
  contracts/contracts/VerificationKey.sol
  js/client/src/WalletDecorator.js
  js/client/src/components/DepositWithdrawModal.vue
  js/client/src/components/FranklinBalancesList.vue
  js/client/src/components/Transfer.vue
  js/client/src/utils.js
  js/explorer/src/WalletDecorator.js
Owners: @dvush, @BaldyAsh

Full exit forget nonce changes
  core/circuit/src/witness/full_exit.rs
  core/plasma/src/state.rs
Owners: @dvush

Ver key update
  contracts/contracts/VerificationKey.sol
Owners: @dvush, @BaldyAsh

fmt
  core/storage/src/lib.rs
Owners: none

Temporary revive franklin_lib
  js/franklin_lib/.prettierrc.js
  js/franklin_lib/abi/Franklin.json
  js/franklin_lib/abi/IERC20.json
  js/franklin_lib/package-lock.json
  js/franklin_lib/package.json
  js/franklin_lib/scripts/loadtest.ts
  js/franklin_lib/scripts/loadtest/AbstractOperation.ts
  js/franklin_lib/scripts/loadtest/DepositOperation.ts
  js/franklin_lib/scripts/loadtest/LocalWallet.ts
  js/franklin_lib/scripts/loadtest/README_LOADTEST.md
  js/franklin_lib/scripts/loadtest/ReceiveMoneyOperation.ts
  js/franklin_lib/scripts/loadtest/Tester.ts
  js/franklin_lib/scripts/loadtest/TransferOperation.ts
  js/franklin_lib/scripts/loadtest/WithdrawOperation.ts
  js/franklin_lib/scripts/loadtest/examples/fuzzytest.ts
  js/franklin_lib/scripts/loadtest/examples/loadtest.ts
  js/franklin_lib/scripts/loadtest/examples/situation_specific_test.ts
  js/franklin_lib/src/crypto.ts
  js/franklin_lib/src/utils.ts
  js/franklin_lib/tests/spec-test.ts
  js/franklin_lib/tests/util.test.ts
  js/franklin_lib/tsconfig.json
  js/franklin_lib/yarn.lock
Owners: @gluk64

Describe block algorithm
  core/server/src/state_keeper/mod.rs
Owners: @dvush

Add tx tags
  package.json
  src/signer.ts
  src/types.ts
Owners: none

Make old client work with new api
  bin/update-frontend-contract.sh
  core/models/src/node/tx.rs
  core/server/src/api_server/mod.rs
  core/server/src/api_server/rest.rs
  core/storage/src/lib.rs
  js/client/src/WalletDecorator.js
  js/franklin_lib/abi/Franklin.json
  js/franklin_lib/abi/Governance.json
  js/franklin_lib/abi/PriorityQueue.json
  js/franklin_lib/scripts/loadtest.ts
  js/franklin_lib/src/crypto.ts
  js/franklin_lib/src/utils.ts
  js/franklin_lib/src/wallet.ts
Owners: @dvush

fmt & clippy
  core/server/src/api_server/rest.rs
Owners: @dvush

franklin run-simple-integration-test
  Makefile
  contracts/contracts/Governance.sol
  core/circuit/src/witness/transfer.rs
  js/tests/package.json
  js/tests/simple-integration-test.ts
  js/tests/yarn.lock
Owners: @dvush, @BaldyAsh

interfaces
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
  contracts/contracts/interfaces/ComptrollerInterface.sol
  contracts/contracts/interfaces/ICErc20.sol
  contracts/contracts/interfaces/ICEther.sol
  contracts/contracts/interfaces/IERC20.sol
Owners: @dvush, @BaldyAsh

docs fixed
  contracts/contracts/ComptrollerInterface.sol
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/ICErc20.sol
  contracts/contracts/ICEther.sol
  contracts/contracts/IERC20.sol
  contracts/contracts/PriorityQueue.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

tests for tree restore
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/franklin_ops.rs
  core/models/src/node/mod.rs
  core/models/src/node/operations.rs
Owners: none

Full exit account id
  abi/SyncGov.json
  abi/SyncMain.json
  package.json
  src/provider.ts
  src/signer.ts
  src/wallet.ts
Owners: none

Remove docs
  docs/README.md
  docs/SUMMARY.md
  docs/account.md
  docs/introduction.md
  docs/js-sdk.md
  docs/overview.md
  docs/provider.md
  docs/transactions.md
Owners: @gluk64

currency typo
  examples/move-funds.ts
  package.json
  src/wallet.ts
Owners: none

Full exit rewrite. #154
  Makefile
  contracts/contracts/Franklin.sol
  contracts/contracts/PriorityQueue.sol
  contracts/contracts/VerificationKey.sol
  core/circuit/src/circuit.rs
  core/circuit/src/witness/full_exit.rs
  core/data_restore/src/franklin_ops.rs
  core/models/src/node/operations.rs
  core/models/src/node/priority_ops.rs
  core/plasma/src/state.rs
  core/prover/src/lib.rs
  core/server/src/state_keeper/mod.rs
  core/storage/src/lib.rs
  js/franklin_lib/abi/Franklin.json
  js/tests/full-exit-inegration-test.ts
  js/tests/package.json
  js/tests/simple-integration-test.ts
  js/tests/yarn.lock
Owners: @dvush, @BaldyAsh

compiles
  contracts/contracts/Bytes.sol
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/ICErc20.sol
  contracts/contracts/PriorityQueue.sol
  contracts/contracts/SwiftExits.sol
  contracts/contracts/Verifier.sol
Owners: @dvush, @BaldyAsh

Deploy updates
  Makefile
  bin/.load_keys
  contracts/contracts/VerificationKey.sol
  core/storage/migrations/2019-10-09-153023_add_tablefunc/down.sql
  core/storage/migrations/2019-10-09-153023_add_tablefunc/up.sql
  core/storage/src/lib.rs
  docker/server/Dockerfile
  etc/kube/server.yaml
  js/tests/simple-integration-test.ts
Owners: @dvush, @BaldyAsh

Hardcode default address for testnet
  examples/move-funds.ts
  package.json
  src/provider.ts
Owners: none

Support default provider
  js/tests/full-exit-inegration-test.ts
  js/tests/package.json
  js/tests/simple-integration-test.ts
  js/tests/yarn.lock
Owners: none

zk sync in readme
  README.md
Owners: @gluk64

add readme
  README.md
Owners: @gluk64

readme fixed
  README.md
Owners: @gluk64

franklin note
  README.md
Owners: @gluk64

Update LICENSE
  LICENSE
Owners: none

Create LICENSE
  LICENSE
Owners: none

Rename LICENSE to LICENSE-APACHE
  LICENSE-APACHE
Owners: none

Create LICENSE-MIT
  LICENSE-MIT
Owners: none

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify gluk64 about changes in codeowners file
/.github/       @gluk64

# notify gluk64 about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify dvush about any circuit, prover and server changes
/core/circuit/  @dvush
/core/server/   @dvush
/core/prover/   @dvush

# notify BaldyAsh and dvush about contracts changes
/contracts/     @dvush @BaldyAsh
