Repository matter-labs/zksync, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gluk64, @dvush, @BaldyAsh

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify gluk64 about changes in codeowners file
/.github/       @gluk64

# notify gluk64 about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify dvush about any circuit, prover and server changes
/core/circuit/  @dvush
/core/server/   @dvush
/core/prover/   @dvush

# notify BaldyAsh and dvush about contracts changes
/contracts/     @dvush @BaldyAsh

licenses
  README.md
Owners: @gluk64

Rename LICENSE to LICENSE-APACHE
  LICENSE-APACHE
Owners: none

Create LICENSE-MIT
  LICENSE-MIT
Owners: none

Update LICENSE-MIT
  LICENSE-MIT
Owners: none

demo
  README.md
Owners: @gluk64

demo
  README.md
Owners: @gluk64

get tokens
  src/provider.ts
  src/types.ts
Owners: none

get contract balances
  src/provider.ts
  src/wallet.ts
Owners: none

fromEthWallet => fromEthSigner
  examples/move-funds.ts
  src/wallet.ts
Owners: none

ingress
  etc/kube/server.yaml
Owners: none

Update testnet endpoint
  package.json
  src/provider.ts
Owners: none

New endpoints
  js/tests/package.json
  js/tests/yarn.lock
Owners: none

most of functionality works
  core/server/src/api_server/rpc_server.rs
  js/client/package.json
  js/client/src/WalletDecorator.js
  js/client/src/main.js
  js/client/src/views/Login.vue
  js/client/vue.config.js
  js/client/yarn.lock
Owners: @dvush

Add tokens
  src/provider.ts
  src/types.ts
Owners: none

Add tokens
  core/server/src/api_server/rpc_server.rs
Owners: @dvush

Limit withdraws
  core/server/src/state_keeper/mod.rs
Owners: @dvush

add fau token rinkeby
  bin/add-fau-token-rinkeby.sh
  core/storage/src/lib.rs
Owners: none

added loadtest
  Makefile
  js/tests/loadtest.ts
  js/tests/package.json
  js/yarn.lock
Owners: none

naming
  js/tests/loadtest.ts
Owners: none

a couple of comments
  js/tests/loadtest.ts
Owners: none

rdy
  js/tests/loadtest.ts
Owners: none

event notify remove println
  core/server/src/api_server/event_notify.rs
Owners: @dvush

Priority queue params
  contracts/contracts/PriorityQueue.sol
Owners: @dvush, @BaldyAsh

Load unsent op new
  core/models/src/node/config.rs
  core/server/src/api_server/rpc_server.rs
  core/server/src/eth_sender.rs
  core/server/src/state_keeper/mod.rs
  core/storage/src/lib.rs
Owners: @dvush

Brand new eth_sender
  core/server/src/eth_sender.rs
  core/storage/migrations/2019-08-30-111817_operations_update/up.sql
  core/storage/migrations/2019-11-12-150641_add_eth_hash/up.sql
  core/storage/src/lib.rs
  core/storage/src/schema.rs
Owners: @dvush

possible fix for crosstab on digital ocean
  core/storage/migrations/2019-10-09-153023_add_tablefunc/down.sql
  core/storage/migrations/2019-10-09-153023_add_tablefunc/up.sql
Owners: none

Change some params for testnet
  core/models/src/node/config.rs
  js/tests/loadtest.ts
Owners: none

Fix block explorer
  core/server/src/api_server/rest.rs
  core/storage/src/lib.rs
Owners: @dvush

review fixes
  src/provider.ts
  src/types.ts
  src/wallet.ts
Owners: none

ETHfee estimate for priority ops
  examples/move-funds.ts
  src/provider.ts
  src/types.ts
  src/wallet.ts
Owners: none

0.3.6
  package.json
Owners: none

zksync.js 0.3.6
  js/tests/full-exit-inegration-test.ts
  js/tests/package.json
  js/tests/simple-integration-test.ts
  js/tests/yarn.lock
Owners: none

typos
  README.md
Owners: @gluk64

new acc, async tx
  .drone.yml
  Makefile
  contracts/contracts/VerificationKey.sol
  docker-compose.yml
  docker/geth/dev.json
  etc/env/dev.env.example
  js/tests/loadtest.ts
Owners: @dvush, @BaldyAsh

async, erc20
  contracts/scripts/testnet-deploy.ts
  contracts/src.ts/deploy.ts
  docker/geth/dev.json
  js/tests/loadtest.ts
Owners: @dvush, @BaldyAsh

vars->lets
  js/tests/loadtest.ts
Owners: none

fixes no1 review
  js/tests/loadtest.ts
Owners: none

removed vk
  contracts/contracts/VerificationKey.sol
Owners: @dvush, @BaldyAsh

added corr vk
  contracts/contracts/VerificationKey.sol
Owners: @dvush, @BaldyAsh

fmt vk
  contracts/contracts/VerificationKey.sol
Owners: @dvush, @BaldyAsh
