Repository matter-labs/zksync, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gluk64, @dvush, @BaldyAsh

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify gluk64 about changes in codeowners file
/.github/       @gluk64

# notify gluk64 about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify dvush about any circuit, prover and server changes
/core/circuit/  @dvush
/core/server/   @dvush
/core/prover/   @dvush

# notify BaldyAsh and dvush about contracts changes
/contracts/     @dvush @BaldyAsh

fmt
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/franklin_ops.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/storage_interactor.rs
  core/models/src/node/operations.rs
Owners: none

rast fix
  core/data_restore/src/accounts_state.rs
Owners: none

remove old wallet usage
  js/client/src/WalletDecorator.js
  js/client/src/views/Login.vue
Owners: none

some names changed
  Cargo.lock
  Cargo.toml
  Makefile
  core/data_restore/Cargo.toml
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/main.rs
  core/data_restore/src/storage_interactor.rs
  core/storage/migrations/2019-07-15-173846_data_restore/down.sql
  core/storage/migrations/2019-07-15-173846_data_restore/up.sql
  core/storage/src/lib.rs
  core/storage/src/schema.rs
  etc/env/dev.env.example
Owners: none

renaming + possible fix fee
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/PriorityQueue.sol
Owners: @dvush, @BaldyAsh

new fee calc
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
Owners: @dvush, @BaldyAsh

improved fee calc
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
Owners: @dvush, @BaldyAsh

functions state mutability fix
  contracts/contracts/Governance.sol
Owners: @dvush, @BaldyAsh

a lot of options into result
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/franklin_ops.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/storage_interactor.rs
  core/models/src/node/operations.rs
Owners: none

fmt
  core/data_restore/src/franklin_ops.rs
  core/data_restore/src/storage_interactor.rs
  core/models/src/node/operations.rs
Owners: none

fixed fmt
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/franklin_ops.rs
  core/data_restore/src/helpers.rs
  core/models/src/node/operations.rs
  core/server/src/api_server/event_notify.rs
Owners: @dvush

fix explorer links
  js/explorer/src/Account.vue
  js/explorer/src/Block.vue
  js/explorer/src/main.js
Owners: none

updated dependencies in client
  js/client/yarn.lock
Owners: none

added createRandomZKSyncWallet to run loadtest from separated sessions
  js/tests/loadtest.ts
Owners: none

added test mnemonic
  docker/geth/dev.json
  etc/env/dev.env.example
  js/tests/loadtest.ts
Owners: none

fix mnemonic
  contracts/scripts/testnet-deploy.ts
  docker/geth/dev.json
Owners: @dvush, @BaldyAsh

fix 2 fmt
  core/models/src/node/operations.rs
Owners: none

client doesn't depend on franklin_lib
  js/client/package.json
  js/client/src/BlockExplorerClient.js
  js/client/src/WalletDecorator.js
  js/client/src/utils.js
  js/client/src/views/Login.vue
  js/client/yarn.lock
Owners: none

started
  core/data_restore/src/helpers.rs
  core/data_restore/src/lib.rs
  core/server/src/lib.rs
  core/server/src/main.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

changed depends
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/lib.rs
  core/server/src/main.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

new data restore driver
  core/data_restore/src/data_restore_driver.rs
Owners: none

genesis state
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
Owners: none

fixed hashes
  core/storage/src/lib.rs
  js/explorer/src/Account.vue
  js/explorer/src/Block.vue
  js/explorer/src/Transaction.vue
  js/explorer/src/WalletDecorator.js
  js/explorer/src/timeConstants.js
  js/explorer/src/utils.js
Owners: none

a lot
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/franklin_ops.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/lib.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

started block restores
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/franklin_ops.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/lib.rs
  core/models/src/params.rs
Owners: none

fixes in priority mapping
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

Add tool for pubdata parsing
  bin/parse-pubdata.sh
  core/models/src/bin/parse_pub_data.rs
Owners: none

Handle withdraw fail
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
Owners: @dvush, @BaldyAsh

verify block proof
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

fixed deploy
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/PriorityQueue.sol
  contracts/scripts/testnet-deploy.ts
  contracts/src.ts/deploy.ts
Owners: @dvush, @BaldyAsh

fixed errors
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/lib.rs
Owners: none

update block number
  core/data_restore/src/accounts_state.rs
Owners: none

added restore from layer1 into state keeper
  core/data_restore/src/lib.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

data restore for plasma state almost complete. now add complete storage savings
  Cargo.lock
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/lib.rs
  core/server/Cargo.toml
  core/server/src/main.rs
  core/server/src/state_keeper/mod.rs
Owners: @dvush

Use new futures/tokio in server
  Cargo.lock
  core/data_restore/Cargo.toml
  core/eth_client/Cargo.toml
  core/eth_client/src/lib.rs
  core/models/Cargo.toml
  core/server/Cargo.toml
  core/server/src/api_server/event_notify.rs
  core/server/src/api_server/mod.rs
  core/server/src/api_server/rest.rs
  core/server/src/api_server/rpc_server.rs
  core/server/src/api_server/rpc_subscriptions.rs
  core/server/src/committer.rs
  core/server/src/eth_sender.rs
  core/server/src/eth_watch.rs
  core/server/src/main.rs
Owners: @dvush

all client functionality works
  js/client/src/BlockExplorerClient.js
  js/client/src/WalletDecorator.js
  js/client/src/components/AlertWithProgressBar.vue
  js/client/src/components/DepositWithdrawModal.vue
  js/client/src/components/Transfer.vue
  js/client/src/components/Wallet.vue
  js/client/src/main.js
  js/client/yarn.lock
Owners: none

improve fee calculation
  src/provider.ts
  src/wallet.ts
Owners: none

a lot fixed. need to impl store for tree
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/lib.rs
  core/data_restore/src/rollup_ops.rs
  core/data_restore/src/storage_interactor.rs
  core/data_restore/src/tree_state.rs
  core/server/src/state_keeper/mod.rs
  core/storage/migrations/2019-07-15-173846_data_restore/down.sql
  core/storage/migrations/2019-07-15-173846_data_restore/up.sql
  core/storage/src/lib.rs
  core/storage/src/schema.rs
Owners: @dvush

small fix
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

all functionality for restore ready. need to call it from server
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/storage_interactor.rs
  core/data_restore/src/tree_state.rs
  core/server/src/state_keeper/mod.rs
  core/storage/src/lib.rs
Owners: @dvush
