Repository matter-labs/zksync, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gluk64, @dvush, @BaldyAsh

fmt
  js/tests/loadtest.ts
Owners: none

fmt2
  js/tests/loadtest.ts
Owners: none

fmt2
  js/tests/loadtest.ts
Owners: none

loadtest 2.0
  Makefile
  contracts/scripts/testnet-deploy.ts
  docker/geth/dev.json
  etc/env/dev.env.example
  js/tests/loadtest.ts
  js/tests/package.json
Owners: @dvush, @BaldyAsh

incr clients total
  js/tests/loadtest.ts
Owners: none

0.3.7 - receipt await fixes
  examples/move-funds.ts
  package.json
  src/wallet.ts
Owners: none

Subscriptions return correct values
  core/server/src/api_server/event_notify.rs
  core/server/src/api_server/rest.rs
  core/server/src/api_server/rpc_subscriptions.rs
Owners: @dvush

Wait for less confirmations
  core/server/src/eth_sender.rs
Owners: @dvush

remove commented code in the fullexit, typos
  core/circuit/src/circuit.rs
  core/server/src/api_server/event_notify.rs
  core/server/src/api_server/rpc_subscriptions.rs
Owners: @dvush

favicon
  js/explorer/public/favicon.ico
  js/explorer/public/favicon.png
  js/explorer/public/index.html
Owners: none

zksync.io link
  README.md
Owners: @gluk64

update zksync.js
  js/tests/package.json
  js/tests/yarn.lock
Owners: none

fix time display, minor improvements
  js/client/src/assets/loading.gif
  js/explorer/src/Block.vue
  js/explorer/src/Home.vue
  js/explorer/src/Transaction.vue
  js/explorer/src/assets/loading.gif
Owners: none

fix tx hash display
  js/explorer/src/Block.vue
  js/explorer/src/Home.vue
Owners: none

rename to zksync
  .drone.yml
  Makefile
  README.md
  bin/.confirm_action
  bin/.setup_env
  bin/ci-prepare-env.sh
  bin/db-insert-contract.sh
  bin/db-setup
  bin/deploy-contracts.sh
  bin/do-configure
  bin/do-destory
  bin/env
  bin/gen-keys
  bin/genesis.sh
  bin/governance-add-erc20.sh
  bin/init
  bin/k8s-apply
  bin/k8s-secret
  bin/prepare-test-contracts.sh
  bin/revert-reason
  bin/update-frontend-contract.sh
  bin/zksync
  docs/circuit.md
  docs/contract.md
  docs/setup-dev.md
  etc/kube/minikube/prover.yaml
  etc/kube/prover.yaml
  etc/kube/server.yaml
Owners: @gluk64

changed color
  js/client/scss/bootstrap/_variables.scss
Owners: none

Deploy params
  core/models/src/node/config.rs
  core/server/src/eth_sender.rs
  etc/kube/server.yaml
Owners: @dvush

Update README.md
  README.md
Owners: @gluk64

changed color again
  js/client/scss/bootstrap/_variables.scss
Owners: none

Update README.md
  README.md
Owners: @gluk64

review 3
  Makefile
  bin/loadtest.sh
  contracts/scripts/testnet-deploy.ts
  docker/geth/dev.json
  etc/env/dev.env.example
  js/tests/loadtest.ts
  js/tests/package.json
Owners: @dvush, @BaldyAsh

Matter => ZK Sync
  js/client/public/index.html
  js/client/src/WalletDecorator.js
  js/client/src/components/DepositWithdrawModal.vue
  js/client/src/components/FranklinBalancesList.vue
  js/client/src/components/Transfer.vue
  js/client/src/router.js
  js/client/src/views/Login.vue
  js/client/src/views/Main.vue
  js/explorer/public/index.html
  js/explorer/src/Account.vue
  js/explorer/src/Block.vue
  js/explorer/src/ClosableJumbotron.vue
  js/explorer/src/Home.vue
Owners: none

fix
  bin/loadtest.sh
Owners: none

pagination fix
  js/explorer/src/TransactionList.vue
Owners: none

Wait 1 confirmation
  core/server/src/eth_sender.rs
Owners: @dvush

fix
  js/explorer/src/Block.vue
Owners: none

from pubdata changes
  core/data_restore/src/franklin_ops.rs
  core/models/src/node/operations.rs
  core/models/src/node/priority_ops.rs
  core/models/src/node/tx.rs
Owners: none

params fix
  core/data_restore/src/franklin_ops.rs
  core/models/src/node/operations.rs
  core/models/src/node/priority_ops.rs
  core/models/src/params.rs
Owners: none

fixes
  core/data_restore/src/franklin_ops.rs
  core/models/src/node/operations.rs
  core/models/src/node/priority_ops.rs
Owners: none

full exit fix and tests pass
  core/data_restore/src/franklin_ops.rs
  core/models/src/node/operations.rs
  core/models/src/params.rs
Owners: none

intermediary zksync client
  js/client/src/WalletDecorator.js
  js/client/src/views/Login.vue
  js/client/src/views/Main.vue
  js/client/yarn.lock
Owners: none

fixed ignored tests
  core/data_restore/src/accounts_state.rs
  core/models/src/params.rs
Owners: none

fmt
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/franklin_ops.rs
  core/models/src/node/operations.rs
  core/models/src/node/priority_ops.rs
Owners: none

fix gas price calculation
  js/client/src/WalletDecorator.js
  js/franklin_lib/src/wallet.ts
Owners: none

review 3
  bin/loadtest.sh
  contracts/scripts/testnet-deploy.ts
  js/tests/loadtest.ts
  js/tests/package.json
Owners: @dvush, @BaldyAsh

env fix
  etc/env/dev.env.example
Owners: none

remove eth address
  js/client/src/components/BalancesList.vue
  js/client/src/components/FranklinBalancesList.vue
  js/client/src/components/Wallet.vue
Owners: none

test asserts fix
  core/data_restore/src/accounts_state.rs
Owners: none

updated @vue/cli-service
  js/explorer/yarn.lock
Owners: none

review1
  Cargo.lock
  core/data_restore/Cargo.toml
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/data_restore_driver.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/franklin_ops.rs
  core/data_restore/src/genesis_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/storage_interactor.rs
  core/models/src/node/operations.rs
Owners: none

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify gluk64 about changes in codeowners file
/.github/       @gluk64

# notify gluk64 about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify dvush about any circuit, prover and server changes
/core/circuit/  @dvush
/core/server/   @dvush
/core/prover/   @dvush

# notify BaldyAsh and dvush about contracts changes
/contracts/     @dvush @BaldyAsh
