Repository matter-labs/zksync, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gluk64, @dvush, @BaldyAsh

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify gluk64 about changes in codeowners file
/.github/       @gluk64

# notify gluk64 about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify dvush about any circuit, prover and server changes
/core/circuit/  @dvush
/core/server/   @dvush
/core/prover/   @dvush

# notify BaldyAsh and dvush about contracts changes
/contracts/     @dvush @BaldyAsh

fix rust-checks
  core/server/src/api_server.rs
  core/storage/src/lib.rs
Owners: @dvush

tx status, loading
  js/explorer/src/Account.vue
  js/explorer/src/Transaction.vue
  js/explorer/src/timeConstants.js
Owners: none

Change amount/fee size, check if amount/fee is packable
  src/crypto.ts
  src/provider.ts
  src/utils.ts
  tests/util.test.ts
Owners: none

Change amount/fee size
  contracts/contracts/VerificationKey.sol
  contracts/contracts/Verifier.sol
  core/circuit/src/witness/transfer.rs
  core/models/src/params.rs
  js/franklin_lib/abi/SyncGov.json
  js/franklin_lib/abi/SyncMain.json
  js/franklin_lib/abi/SyncPriorityQueue.json
Owners: @dvush, @BaldyAsh

review 2
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

doc
  contracts/contracts/Governance.sol
  docs/swift-exits.md
Owners: @dvush, @BaldyAsh, @gluk64

doc fix and part ex op fix
  contracts/contracts/Franklin.sol
  docs/swift-exits.md
Owners: @dvush, @BaldyAsh, @gluk64

removed unused
  contracts/contracts/BN256G2.sol
  contracts/contracts/BlsOperations.sol
Owners: @dvush, @BaldyAsh

searching accounts and txs
  js/explorer/.eslintrc.js
  js/explorer/src/Account.vue
  js/explorer/src/Block.vue
  js/explorer/src/ClosableJumbotron.vue
  js/explorer/src/Home.vue
  js/explorer/src/SearchField.vue
  js/explorer/src/Transaction.vue
  js/explorer/src/TransactionList.vue
  js/explorer/src/client.js
Owners: none

Some renames
  examples/move-funds.ts
  src/crypto.ts
  src/index.ts
  src/provider.ts
  src/signer.ts
  src/syncWallet.ts
  src/utils.ts
Owners: none

fix punish
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

Add polling for http provider
  examples/move-funds.ts
  src/provider.ts
  src/transport.ts
  src/utils.ts
Owners: none

Don't wait for commit to be confirmed on eth
  core/storage/src/lib.rs
Owners: none

changes imports
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

fixed a lot
  contracts/contracts/Bytes.sol
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

overflow check
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

test doc
  docs/providers.md
  docs/wallet-signer.md
Owners: @gluk64

update summary
  docs/SUMMARY.md
Owners: @gluk64

Document providers
  docs/providers.md
  src/provider.ts
  src/types.ts
Owners: @gluk64

Remove layer of ident for doc
  docs/providers.md
Owners: @gluk64

Get contract address rename
  docs/providers.md
Owners: @gluk64

Add basic wallet documentation
  docs/SUMMARY.md
  docs/js-sdk.md
  docs/providers.md
  docs/wallet-signer.md
Owners: @gluk64

Document transaction handles
  docs/wallet-signer.md
  src/syncWallet.ts
Owners: @gluk64

Document signer
  docs/wallet-signer.md
  src/signer.ts
  src/syncWallet.ts
Owners: @gluk64

fix emergency withdraw
  core/plasma/src/state.rs
Owners: none

Add emergency withdraw
  examples/move-funds.ts
  src/provider.ts
  src/syncWallet.ts
  src/types.ts
Owners: none

Document emergency withdraw
  docs/wallet-signer.md
  src/syncWallet.ts
Owners: @gluk64

Document types/utils
  docs/SUMMARY.md
  docs/types-utils.md
Owners: @gluk64

TOC structure
  docs/SUMMARY.md
  docs/js-sdk.md
Owners: @gluk64

js guide
  docs/js-sdk.md
Owners: @gluk64

Sketch guide
  docs/js-sdk.md
  examples/move-funds.ts
Owners: @gluk64

v3
  contracts/contracts/Bytes.sol
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SignaturesVerifier.sol
Owners: @dvush, @BaldyAsh

v3.5
  contracts/contracts/Governance.sol
Owners: @dvush, @BaldyAsh

v4
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

Doc balances
  docs/js-sdk.md
  docs/providers.md
  docs/types-utils.md
  docs/wallet-signer.md
  examples/move-funds.ts
  src/provider.ts
  src/syncWallet.ts
  src/types.ts
Owners: @gluk64

publish v2
  package.json
  src/index.ts
Owners: none

Try fix full exit
  Makefile
  core/circuit/src/witness/full_exit.rs
  core/plasma/src/state.rs
  core/server/src/api_server/event_notify.rs
  core/server/src/api_server/rpc_server.rs
  core/storage/src/lib.rs
Owners: @dvush

remove franklin lib
  js/franklin_lib/.prettierrc.js
  js/franklin_lib/abi/Franklin.json
  js/franklin_lib/abi/IERC20.json
  js/franklin_lib/abi/PriorityQueue.json
  js/franklin_lib/abi/SyncGov.json
  js/franklin_lib/abi/SyncMain.json
  js/franklin_lib/abi/SyncPriorityQueue.json
  js/franklin_lib/package-lock.json
  js/franklin_lib/package.json
  js/franklin_lib/scripts/integration-test.ts
  js/franklin_lib/scripts/loadtest.ts
  js/franklin_lib/scripts/loadtest/AbstractOperation.ts
  js/franklin_lib/scripts/loadtest/DepositOperation.ts
  js/franklin_lib/scripts/loadtest/LocalWallet.ts
  js/franklin_lib/scripts/loadtest/README_LOADTEST.md
  js/franklin_lib/scripts/loadtest/ReceiveMoneyOperation.ts
  js/franklin_lib/scripts/loadtest/Tester.ts
  js/franklin_lib/scripts/loadtest/TransferOperation.ts
  js/franklin_lib/scripts/loadtest/WithdrawOperation.ts
  js/franklin_lib/scripts/loadtest/examples/fuzzytest.ts
  js/franklin_lib/scripts/loadtest/examples/loadtest.ts
  js/franklin_lib/scripts/loadtest/examples/situation_specific_test.ts
  js/franklin_lib/src/crypto.ts
  js/franklin_lib/src/provider.ts
  js/franklin_lib/src/transport.ts
  js/franklin_lib/src/types.ts
  js/franklin_lib/src/utils.ts
  js/franklin_lib/src/wallet.ts
  js/franklin_lib/tests/spec-test.ts
  js/franklin_lib/tests/util.test.ts
  js/franklin_lib/tsconfig.json
  js/franklin_lib/tslint.json
  js/franklin_lib/yarn.lock
Owners: @gluk64

Add zksync.js based integration test
  js/tests/package.json
  js/tests/simple-integration-test.ts
  js/tests/yarn.lock
Owners: none

Add convenience methods
  examples/move-funds.ts
  src/index.ts
  src/syncWallet.ts
Owners: none
