Repository matter-labs/zksync, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gluk64, @dvush, @BaldyAsh

Document convenience methods
  docs/js-sdk.md
  docs/wallet-signer.md
Owners: @gluk64

bump version
  package.json
Owners: none

fix publish
  package.json
Owners: none

update zksync in test
  js/tests/simple-integration-test.ts
  js/tests/yarn.lock
Owners: none

non-circuit part
  core/circuit/src/witness/withdraw.rs
  core/models/src/node/operations.rs
  core/models/src/node/tx.rs
Owners: @dvush

started in witness
  core/circuit/src/account.rs
  core/circuit/src/witness/withdraw.rs
Owners: @dvush

documented swift exits contract
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

documented governance
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

* enforce explicit values for changing params at compile time * resolve scattered environment vars reads
  .drone.yml
  core/circuit/src/allocated_structures.rs
  core/circuit/src/circuit.rs
  core/circuit/src/witness/close_account.rs
  core/circuit/src/witness/deposit.rs
  core/circuit/src/witness/full_exit.rs
  core/circuit/src/witness/noop.rs
  core/circuit/src/witness/transfer.rs
  core/circuit/src/witness/transfer_to_new.rs
  core/circuit/src/witness/withdraw.rs
  core/data_restore/src/accounts_state.rs
  core/data_restore/src/events.rs
  core/data_restore/src/events_state.rs
  core/data_restore/src/helpers.rs
  core/data_restore/src/main.rs
  core/data_restore/src/storage_interactor.rs
  core/eth_client/src/lib.rs
  core/key_generator/src/franklin_key.rs
  core/models/src/node/block.rs
  core/models/src/node/config.rs
  core/models/src/params.rs
  core/models/src/primitives.rs
  core/plasma/src/state.rs
  core/prover/src/lib.rs
  core/prover/src/main.rs
  core/prover/used-vars
  core/server/src/api_server.rs
  core/server/src/bin/eth_watcher.rs
  core/server/src/committer.rs
  core/server/src/eth_sender.rs
  core/server/src/eth_watch.rs
  core/server/src/main.rs
  core/server/src/state_keeper/mod.rs
  core/server/used-vars
  core/storage/src/lib.rs
  etc/env/ci.env
  etc/env/dev.env.example
Owners: @dvush

documented veifier, sigs, priority queue
  contracts/contracts/PriorityQueue.sol
  contracts/contracts/SignaturesVerifier.sol
  contracts/contracts/Verifier.sol
Owners: @dvush, @BaldyAsh

documented franklin
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

fix withdraw witness
  core/circuit/src/account.rs
  core/circuit/src/witness/withdraw.rs
Owners: @dvush

fix2
  core/circuit/src/witness/withdraw.rs
Owners: @dvush

polished explorer
  js/explorer/src/Account.vue
  js/explorer/src/Block.vue
  js/explorer/src/Home.vue
  js/explorer/src/SearchField.vue
  js/explorer/src/Transaction.vue
  js/explorer/src/TransactionList.vue
  js/explorer/src/main.js
Owners: none

fix
  core/circuit/src/circuit.rs
  core/circuit/src/witness/withdraw.rs
  core/models/src/node/operations.rs
  core/models/src/node/tx.rs
Owners: @dvush

small fix
  core/circuit/src/witness/withdraw.rs
Owners: @dvush

testing CI
  docker/ci/Dockerfile
Owners: none

Comment out minikube in franklin stop
  Makefile
Owners: none

CI image
  Makefile
  docker/ci/Dockerfile
Owners: none

Fix full exit
  Makefile
  contracts/contracts/VerificationKey.sol
  core/circuit/src/circuit.rs
  core/circuit/src/witness/full_exit.rs
  core/eth_client/src/lib.rs
  core/models/src/node/mod.rs
  core/models/src/node/tx.rs
  core/prover/src/lib.rs
  core/server/src/api_server.rs
Owners: @dvush, @BaldyAsh

Working full exit test
  core/circuit/src/witness/full_exit.rs
Owners: @dvush

Add circuit tests to CI
  .drone.yml
Owners: none

Fix env config option.
  core/eth_client/src/lib.rs
  core/server/src/api_server.rs
  core/server/src/bin/eth_watcher.rs
  core/server/src/eth_sender.rs
  core/server/src/eth_watch.rs
  core/server/src/lib.rs
  core/server/src/main.rs
  core/server/src/state_keeper/mod.rs
  etc/env/dev.env.example
Owners: @dvush

Create ci env from dev.env.example
  .drone.yml
  bin/ci-prepare-env.sh
  etc/env/ci.env
Owners: none

clippy
  core/models/src/node/tx.rs
Owners: none

Remove circuit test from CI for now
  .drone.yml
Owners: none

Update deps
  Cargo.lock
  bin/update-frontend-contract.sh
  core/data_restore/Cargo.toml
  core/data_restore/src/events_state.rs
  core/eth_client/src/signer.rs
  core/models/Cargo.toml
  core/plasma/Cargo.toml
  core/prover/Cargo.toml
  core/server/Cargo.toml
  core/server/src/committer.rs
  core/storage/Cargo.toml
  js/client/yarn.lock
Owners: @dvush

Rename objects
  docs/SUMMARY.md
  docs/js-sdk.md
  examples/move-funds.ts
  src/index.ts
  src/provider.ts
  src/signer.ts
  src/types.ts
  src/wallet.ts
Owners: @gluk64

Try new toc
  docs/SUMMARY.md
Owners: @gluk64

conditional deploy contracts
  bin/deploy-contracts.sh
  contracts/src.ts/deploy.ts
  docker/ci/Dockerfile
Owners: @dvush, @BaldyAsh

added node types to ts scripts
  contracts/tsconfig.json
Owners: @dvush, @BaldyAsh

fix
  bin/deploy-contracts.sh
Owners: none

Try new layout
  docs/SUMMARY.md
  docs/account.md
  docs/overview.md
  docs/provider.md
  docs/transactions.md
  docs/types-utils.md
Owners: @gluk64

Other renames
  docs/SUMMARY.md
  docs/account.md
  docs/provider.md
  docs/transactions.md
  docs/types-utils.md
  examples/move-funds.ts
  src/wallet.ts
Owners: @gluk64

fix
  bin/deploy-contracts.sh
  contracts/package.json
  contracts/src.ts/deploy.ts
Owners: @dvush, @BaldyAsh

no user signature
  contracts/contracts/Bytes.sol
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/PriorityQueue.sol
  contracts/contracts/SignaturesVerifier.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

fix
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

fix
  contracts/contracts/Franklin.sol
Owners: @dvush, @BaldyAsh

added address to pubdata, freeze owner funds
  contracts/contracts/Franklin.sol
  contracts/contracts/Governance.sol
  contracts/contracts/PriorityQueue.sol
  contracts/contracts/SwiftExits.sol
Owners: @dvush, @BaldyAsh

added se fee to withdraw pubdata and sign
  core/circuit/src/allocated_structures.rs
  core/circuit/src/circuit.rs
  core/circuit/src/operation.rs
  core/circuit/src/witness/withdraw.rs
  core/key_generator/src/franklin_key.rs
  core/models/src/node/operations.rs
  core/models/src/node/tx.rs
Owners: @dvush

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify gluk64 about changes in codeowners file
/.github/       @gluk64

# notify gluk64 about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify dvush about any circuit, prover and server changes
/core/circuit/  @dvush
/core/server/   @dvush
/core/prover/   @dvush

# notify BaldyAsh and dvush about contracts changes
/contracts/     @dvush @BaldyAsh
